<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #BCE27F;
}

.request {
    font-size: 26px;
}

.continue {
  background-color: #04AA6D;
  color: black;
  font-size: 18px;
  border-radius: 10px;
}
</style>
</head>
<body>

<center>
    <a class="request">Your request has been successfully completed!</a> <br><br>
    <a href="#" class="continue">Continue</a>
</center>

</body>
</html>